# vim
*.swp

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

src/alib/alibtest
src/alib/io.s
src/alib/old/
src/compiler/aqb

old
src/lib/*.sym
src/lib/_brt/*.sym
src/lib/_brt/alibtest
src/lib/_brt/dyna.asm
src/lib/_aqb/*.s
src/lib/_aqb/*.sym
src/lib/_aqb/simple_timer.c
src/lib/_aqb/aio.asm
src/lib/_aqb/atimer.asm
src/lib/_aqb/awindow.asm
src/lib/_brt/amath.asm
src/lib/_brt/autil.asm
src/lib/IFFSupport/*.sym
src/lib/AnimSupport/*.sym
src/lib/OSGadToolsConsts/*.sym
src/lib/UISupport/*.sym
src/alib/tests/*.bin
src/tools/ffputils/ffputils
src/tools/os2aqb/*.bas
src/tools/os2aqb/libcalls.py
src/tools/os2aqb/os_exec.txt
src/tools/os2aqb/os_mathtrans.txt
src/tools/colorschemes
src/tools/md2amiga/marko/__pycache__
src/tools/loadfont/*.asm
examples/collection/
examples/demo/tetris
examples/demo/tetris.asm
examples/demo/tetris.dump
examples/demo/tetris.s
examples/demo/tetris_gnu.bin
examples/demo/tetris_gnu.dump
examples/demo/foo.s
examples/demo/blits.bas
examples/dev/blits.bas
examples/dev/TETRIS.BAS
examples/dev/foo.asm
examples/dev/foo.dump
examples/dev/foo.s
examples/dev/foo_gnu.bin
examples/dev/foo_gnu.dump
tests/foo.bas
tests/foo.s
tests/foo.asm
tests/foo.dump
tests/foo.hunk
tests/foo_gnu.bin
tests/foo_gnu.dump
tests/foo.S
tests/foo_vasm.bin
tests/foo_vasm.dump
tests/foo_vasm.list
doc/internal/
target
config.mk
src/lib/minbrt/minbrt.asm
src/lib/minbrt/minbrt.s
src/tools/hunk/hunk
src/lib/os/
aqb.log
t.log
foo
foo.bas
ide.log
export.sh
prefs.ini
aqb.readme
marketing.txt
README.guide
help/*.guide
