# vim
*.swp

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

src/alib/alibtest
src/alib/io.s
src/alib/old/
src/compiler/aqb

old
src/lib/*.sym
src/lib/_brt/*.sym
src/lib/_brt/alibtest
src/lib/_brt/dyna.asm
src/lib/_aqb/*.s
src/lib/_aqb/*.sym
src/alib/tests/*.bin
src/tools/ffputils/ffputils
src/tools/os2aqb/*.bas
src/tools/os2aqb/libcalls.py
src/tools/os2aqb/os_exec.txt
src/tools/os2aqb/os_mathtrans.txt
examples/collection/
tests/foo.bas
doc/internal/
target
config.mk
src/lib/minbrt/minbrt.asm
src/lib/minbrt/minbrt.s
src/tools/hunk/hunk

