# vim
*.swp

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

.vscode/
src/alib/alibtest
src/alib/io.s
src/alib/old/
src/compiler/aqb
tests/*.bin
tests/*.s

# FIXME: cleanup. commit.
doc/
old
src/alib/genos.py
src/alib/os_mathtrans.txt
tests/foo.bas
src/alib/tests/*.bin
examples/bench/*.bin
examples/bench/*.s
examples/*.bin
examples/*.s
examples/others
src/tools/ffputils/ffputils
src/tools/os2aqb/*.bas
